# Terraform state files
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup

# Terraform variables files
*.tfvars
*.tfvars.json

# Crash log files
crash.log

# .terraform directory
.terraform/
.terraform.lock.hcl

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore specific file names
terraform.tfvars
